// bower:scss
// endbower

body {
    background: #00390c;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none

}

.stadiumsnearmeBody {
    display: block;
}

.nearMeContainer {
    display: block;
    margin-left: 25px;
    margin-top: 25px;
    background-color: #99bda1;
    width: 895px;
    padding: 10px;
}

.nearMeLogo {
    display: inline-block;
    margin-left: 25px;
}

.nearMeDistance {
    float: right;
    margin-right: 25px;
    vertical-align: top;
    padding-top: 40px;
    font-size: 25px;
    display: inline-block;
}

.nearMeTeamName {
    vertical-align: top;
    display: inline-block;
    padding-top: 30px;
    font-size: 35px;
    margin-left: 20px;
}

.nearMeCityName {
    vertical-align: top;
    display: inline-block;
    padding-top: 30px;
    font-size: 35px;
    margin-left: 50px;
}

.LogoFix {
    background-size: 100px 100px;
}

.stadiumsList {
    min-height: 100px;
    background-color: green;
    width: 480px;
}

.Stadium {
    display: inline-block;
}

.profileBT {
    margin: 0px auto;
    display: inline-block !important;
    padding: 15px;
}

.fieldHopperLogo {
    margin: 0px auto;
    height: 300px;
    width: 300px;
    background-size: 300px 300px;
    margin-top: 30px;
    // font-size: 32px;
    // color: white;
    // text-shadow: 2px 2px 2px #5E626B;
    background-image: url("../images/FieldHopperLogo.png");
}

.refreshAvatar {
    display: inline-block;
}

.updateAvatarButton {
    margin-top: -25px;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
}

.updateAvatarButtons {
    display: none;
    margin-top: -25px;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
}

.cancelAvatarButtons {
    font-size: 10px;
    display: none;
    cursor: pointer;
}

.saveAvatar {
    display: block;
    cursor: pointer;
}

.BLOWUPCLASS {
    height: 1000px;
    width: 1000px;
    background-color: red;
}

.stadiumsNearMe {
    margin-top: 25px;
    cursor: pointer;
}

.MLBnearMe {
    text-align: center;
    color: white;
    cursor: pointer;
}

.AnearMe {
    text-align: center;
    color: white;
    cursor: pointer;
}

.cancel {
    font-size: 12px;
    text-align: center;
    color: #00390c;

    a {
        color: #00390c;
    }
}

.changePassword {
    cursor: pointer;
}

.logoutProfile {
    display: block;
    font-size: 12px;
    float: right;
}

.editProfile {
    font-size: 12px;

    a {
        color: #00390c;
    }
}

.saveProfile {
    margin-top: 10px;
    height: 30px;
    width: 50px;
    background-color: #cacaca;
    color: black;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}


.profileBeenTo {
    margin: 0px auto;
    display: block;
    background-color: #99bda1;
    min-height: 100px;
    width: 100%;
    max-width: 790px;
}

.profileWantToGo {
    margin: 0px auto;
    display: block;
    background-color: #99bda1;
    min-height: 100px;
    width: 100%;
    max-width: 790px;
}

.profileMyStadiums {
    text-align: center;
    margin-top: 20px;
}

.profileUsername {
}

.profileBody {
    width: 90%;
    margin: 0px auto;
    background-color: #7b9982;
    padding: 25px;
    font-size: 20px;
}

.profileAvatar {
    height: 200px;
    width: 200px;
    background-color: red;
    margin-bottom: 25px;
}

.profileContainer {
    padding-top: 120px;
}

.profileHeader {
    font-size: 30px;
    text-align: center;
    color: white;
}

.logoutButton {
    display: block;
    cursor: pointer;
    text-align: center;
    color: #00390c;
    margin: 0px auto;

}

.landingHeader {
    padding-top: 65px;

}

.landingButtons {
    display: inline-block;
    margin: 0px auto;
    background: linear-gradient(to bottom, rgba(0,99,44,1) 0%,rgba(0,56,28,1) 100%);
    width: 100px;
    height: 50px;
    margin-bottom: 15px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    font-family: helvetica;
    cursor: pointer;
    text-shadow: 0px -1px 0px black;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;

    &:hover {
        -webkit-filter: brightness(120%); 
        -moz-filter: brightness(120%);
        -o-filter: brightness(120%);
        filter: brightness(120%);
    }

    &:active {
        -webkit-filter: brightness(80%); 
        -moz-filter: brightness(80%);
        -o-filter: brightness(80%);
        filter: brightness(80%);
    }
}

.landingButtonLeft {
margin-left: 28%;
}

.landingButtonsTop {
    margin-top: 15px;
}

.landingButtonsBottom {
    width: 210px;
}



.homeContainer {
    margin-top: 100px;
    display: inline-block;
    float: left;
    margin: 0px auto;
    width: calc(80% - 80px);
    max-width: 1000px;
    background-color: #dedfe0;
    box-shadow: 0px 0px 4px gray;
    height: 100%;  
}

.homeLeft {
    display: inline-block;
    padding-top: 100px;
    float: left;
    height: 525px;
    width: 525px;
}

.homeLeft {
    display: inline-block;
    padding-top: 100px;
    float: right;
    height: 525px;
    width: 525px;
}

.userBarIndex {
    position: fixed;
    width: calc(80% - 80px);
    max-width: 1000px;
    display: block;
    height: 120px;
    background-color: #3a4c3e;
    z-index: 3;
}

.userBar {
    display: block;
    height: 60px;
    background-color: gray;
}


.userAvatarIndex {
    float: right;
    height: 25px;
    width: 25px;
    margin-top: 88px;
    background-size: 25px 25px;
    background-image: url("http://www.ultimate-guitar.com/forum/customavatars/9/6/avatar2041469_1.gif?u=2041469&dateline=1312943518");
    margin-right: 15px;
}

.userAvatar {
    float: right;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    background-image: url("http://www.ultimate-guitar.com/forum/customavatars/9/6/avatar2041469_1.gif?u=2041469&dateline=1312943518");
    margin-right: 15px;
}

.username {
    float: right;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    margin-right: 15px;
}

.usernameIndex {
    float: right;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding-top: 88px;
    margin-right: 15px;
}

.back {
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    margin-left: 15px;
}

.backIndex {
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding-top: 88px;
    margin-left: 15px;
}

.header {
    display: block;
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: #fdeb99; 
    z-index: 4;
}

.logo {
    margin: 0px auto;
    height: 70px;
    width: 200px;
    background-size: 200px 70px;
    margin-top: 5px;
    // font-size: 32px;
    // color: white;
    // text-shadow: 2px 2px 2px #5E626B;
    background-image: url("../images/Field-Hopper-Wordmark.png");
}

.centerContainer {
    display: block;
    margin: 0px auto;
    width: calc(80% - 80px);
    max-width: 1000px;
    background-color: #536c59;
    box-shadow: 0px 0px 4px gray;
    height: 100%;
}

.sportButton {
    display: block;
    height: 300px;
    margin: 0px auto;
    padding-left: 10px;
    font-size: 35px;
    font-family: Helvetica;
    color: white;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    border-bottom: 10px solid #5a715f;
}

.sportsText {
    margin-top: 250px;
    margin-right: 15px;
    float: right;
    text-shadow: 2px 2px 2px #5E626B;
}

.myStadiums {
    padding-top: 50px;
    background-size: cover;
    background-image: url("../images/Stadiums/FenwayPark.jpg");
    cursor: pointer;
}

.baseball {
    background-size: cover;
    background-image: url("../images/Stadiums/TurnerField.jpg");
    cursor: pointer;
    padding-top: 5px;
}

.football {
    background-size: cover;
    background-image: url("../images/Stadiums/GeorgiaDome.jpg");
    cursor: pointer;    
    padding-top: 5px;
    border-bottom: none;
}

.basketball {
    background-size: cover;
    background-image: url("../images/Stadiums/AmericanAirlinesArena.jpg");
    cursor: pointer;     
    padding-top: 5px;
}

.nearmeImage {
    background-size: cover;
    background-image: url("../images/Stadiums/GlobeLifeParkinArlington.jpg");
    cursor: pointer;    
    padding-top: 5px;
    border-bottom: none;
}

.sportHeader {
    display: block;
    margin: 0px auto;
    background-color: #011906;
    padding-left: 10px;
    padding-top: 120px;
    font-size: 35px;
    font-family: Helvetica;
    color: white;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    border-bottom: 10px solid #5a715f;
    text-align: center;
}

.divisionHeader {
    display: block;
    height: 40px;
    margin: 0px auto;
    background-color: lightgray;
    padding-left: 10px;
    font-size: 35px;
    font-family: Helvetica;
    color: black;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    border-bottom: 10px solid #5a715f;
    text-align: center;
}

.sportsDivision {
    display: block;
    height: 100px;
    margin: 0px auto;
    background-color: lightgray;
    font-size: 50px;
    line-height: 100px;
    padding-left: 10px;
    font-family: Helvetica;
    color: black;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    border-bottom: 10px solid #5a715f;
    text-align: center;
}

.myStadiumHome {
    padding-top: 140px;
}

.teamImage {
    display: block;
    height: 300px;
    margin: 0px auto;
    padding-left: 10px;
    font-size: 35px;
    font-family: Helvetica;
    color: white;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    border-bottom: 10px solid #5a715f;
}

.teamPage {
    height: 200px;
}

.teamCity {
    display: inline-block;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 25px;
    text-shadow: 2px 2px 2px #5E626B;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.teamName {
    display: inline-block;
    font-size: 25px;
    margin-left: 4px;
    text-shadow: 2px 2px 2px #5E626B;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.logoTeamPage {
    margin-top: 0px;
    height: 70px;
    width: 70px;
    background-size: 70px 70px;
    cursor: pointer;
}

.stadiumName {
    display: block;
    font-size: 50px;
    text-shadow: 2px 2px 2px #5E626B;
    max-width: 500px;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.doublenameStadium {
    margin-bottom: -20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.wantToGoButton {
    float: right;
    height: 40px;
    line-height: 40px;
    width: 150px;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 250px;
    background-color: #536c59;     
    text-align: center;
    font-size: 20px;
    font-family: Helvetica;
    text-shadow: 0px -1px 0px black;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;

    &:hover {
        cursor: pointer;
        -webkit-filter: brightness(120%); 
        -moz-filter: brightness(120%);
        -o-filter: brightness(120%);
        filter: brightness(120%);
    }


}

.onMyBucketList {
    background-color: #00390c;
    font-size: 16px;
}

.beenThereButton {
    float: right;
    margin-top: 0px;
    margin-right: 20px;
    height: 40px;
    line-height: 40px;
    margin-top: 250px;
    width: 150px;
    background-color: #536c59;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Helvetica;
    text-shadow: 0px -1px 0px black;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
        -webkit-filter: brightness(120%); 
        -moz-filter: brightness(120%);
        -o-filter: brightness(120%);
        filter: brightness(120%);
    }
}

.onMyStadiumList {
    background-color: #00390c;
    font-size: 16px;
}

.teamPageButton {
    margin-top: 150px;
}


.teamInfo {
    display: block;
    height: 100px;
    margin: 0px auto;
    background-color: lightgray;
    line-height: 100px;
    padding-left: 10px;
    font-size: 35px;
    font-family: Helvetica;
    color: black;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    border-bottom: 10px solid #5a715f;
    text-align: center;
}

.myStadiumsButton {
    height: 125px;
    padding-top: 100px;
    line-height: 150px;
}

.teamInfoBlock {
    display: inline-block;
    width: calc(50% - 10px);
    height: 500px;
    padding-top: 10px;
    padding-left: 10px;
}

.mapBlock {
    display: inline-block;
    width: calc(50% - 10px);
    height: 500px;
    padding-top: 10px;
    padding-right: 5px;
}

.stadiumImageSlider {
    margin: 0px auto;
    max-height: 150px;
    height: 150px;
}

.stadiumAddress {
    font-family: Helvetica;
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

.stadiumPhone {
    font-family: Helvetica;
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

.stadiumURL {
    font-family: Helvetica;
    font-size: 20px;
    margin-bottom: 20px;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.middleContainer {
    display: block;
    border-bottom: 10px solid #5a715f;
}

#map-canvas {
    margin: 0px auto;
    height: 70%;
    width: 95%;
}

.footer {
    display: block;
    height: 65px;
    width: 100%;
    background-color: #fdeb99;
    color: #00390c;
}

.footerText {
    display: block;
    text-align: center;
    padding-top: 20px;
    color: #00390c;
}

.stadiumMap {
    height: 30px;
    margin-bottom: 22px;
    font-size: 25px;
    font-family: Helvetica;
    font-weight: 700;
    margin-left: 10px;
    color: white;
}

.nearmeButton {
    height: 200px;
}

.nearmeButtonText {
    margin-top: 150px;
}

@media screen and (max-width: 380px) {

    .driveLogo {
        background-size: 70px 70px;
    }

    .packersLogo {
        background-size: 70px 70px;

    }

    .nyGiantsLogo {    
        background-size: 69px 70px;
    }

    .falconsLogo {  
        background-size: 70px 70px;
    }

    .mapBlock {
        display: inline-block;
        width: 360px;
        height: 350px;
        padding-top: 10px;
        padding-right: 5px;
        margin-left: 0px;
    }

    .stadiumMap {
        height: 30px;
        margin-bottom: 0px;
        font-size: 20px;
        font-family: Helvetica;
        margin-left: 23px;
    }

    .stadiumImageSlider {
        max-width: 335px;
        margin-left: 0px;
    }

    .teamInfoBlock {
        float: none;
        width: 100%;
        padding-top: 20px;
        height: 430px;
        max-height: 430px;
    }

    .logoTeamPage {
        margin-top: 50px;
        height: 50px;
        width: 50px;
    }

    .userBarIndex {
        width: 100%;
    }

    .sportsText {
        margin-top: 250px;
        margin-right: 10px;
        float: right;
        text-shadow: 2px 2px 2px #5E626B;
    }

    .centerContainer {
        width: 365px;
    }

    .teamCity {
        display: block;
        margin-top: 3px;
        margin-left: 5px;
        font-size: 20px;
        max-width: 180px;
    }

    .teamName {
        display: block;
        font-size: 20px;
        margin-left: 4px;
        margin-bottom: 20px;
    }

    .stadiumName {
        display: inline-block;
        font-size: 20px;
        max-width: 120px;
    }

    .wantToGoButton {
        float: right;
        height: 50px;
        line-height: 25px;
        width: 60px;
        border-radius: 3px;
        margin-right: 10px;
        margin-top: 140px;
        text-align: center;
        font-size: 20px;
        
    }

    .beenThereButton {
        float: right;
        margin-right: 20px;
        height: 50px;
        line-height: 25px;
        margin-top: 140px;
        width: 60px;
        color: white;
        text-align: center;
        font-size: 20px;
        
    }

    .teamMap {        
        float: none;
        width: 300px;
        height: 300px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom: none;
    }

    #map-canvas {
        margin: 0px auto;
        height: 300px;
        width: 300px;
    }

    .teamsMobileButtons {
        margin-top: 240px;
    }

    .landingButtons {
        display: block;
        width: 250px;
    }

    .landingButtonLeft {
    margin: 0px auto;
    margin-bottom: 15px;
    margin-top: 15px;
    }

    .profileBeenTo {
        max-width: 270px;
    }

    .profileWantToGo {
        max-width: 270px;
    }

}