// bower:scss
// endbower

body {
    background: #BDD7ED;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none

}

.editProfile {
    font-size: 12px;
    float: right;
}

.saveProfile {
    margin-top: 10px;
    height: 30px;
    width: 50px;
    background-color: #cacaca;
    color: black;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}


.profileBeenTo {
    height: 300px;
    background-color: yellow;
    widht: 80%
}

.profileWantToGo {
    height: 300px;
    background-color: yellow;
    widht: 80%
}

.profileMyStadiums {
    text-align: center;
    margin-top: 20px;
}

.profileUsername {
}

.profileBody {
    width: 90%;
    margin: 0px auto;
    background-color: gray;
    padding: 25px;
    font-size: 20px;
}

.profileAvatar {
    height: 200px;
    width: 200px;
    background-color: red;
    margin-bottom: 25px;
}

.profileContainer {
    padding-top: 100px;
}

.profileHeader {
    font-size: 30px;
    text-align: center;
}

.logoutButton {
    display: block;
    cursor: pointer;
    text-align: center;
    color: white;
    margin: 0px auto;

}

.landingHeader {
    padding-top: 65px;

}

.landingButtons {
    margin: 0px auto;
    background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(89,89,89,1) 100%); 
    width: 100px;
    height: 50px;
    margin-bottom: 15px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    font-family: helvetica;
    cursor: pointer;
    text-shadow: 0px -1px 0px black;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;

    &:hover {
        -webkit-filter: brightness(120%); 
        -moz-filter: brightness(120%);
        -o-filter: brightness(120%);
        filter: brightness(120%);
    }

    &:active {
        -webkit-filter: brightness(80%); 
        -moz-filter: brightness(80%);
        -o-filter: brightness(80%);
        filter: brightness(80%);
    }
}

.landingButtonsTop {
    margin-top: 15px;
}

.landingButtonsBottom {
    width: 150px;
}



.homeContainer {
    margin-top: 100px;
    display: inline-block;
    float: left;
    margin: 0px auto;
    width: calc(80% - 80px);
    max-width: 1000px;
    background-color: #dedfe0;
    box-shadow: 0px 0px 4px gray;
    height: 100%;  
}

.homeLeft {
    display: inline-block;
    padding-top: 100px;
    float: left;
    height: 525px;
    width: 525px;
}

.homeLeft {
    display: inline-block;
    padding-top: 100px;
    float: right;
    height: 525px;
    width: 525px;
}

.userBarIndex {
    position: fixed;
    width: calc(80% - 80px);
    max-width: 1000px;
    display: block;
    height: 100px;
    background-color: gray;
    z-index: 3;
}

.userBar {
    display: block;
    height: 60px;
    background-color: gray;
}


.userAvatarIndex {
    float: right;
    height: 25px;
    width: 25px;
    margin-top:70px;
    background-size: 25px 25px;
    background-image: url("http://www.ultimate-guitar.com/forum/customavatars/9/6/avatar2041469_1.gif?u=2041469&dateline=1312943518");
    margin-right: 15px;
}

.userAvatar {
    float: right;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    background-image: url("http://www.ultimate-guitar.com/forum/customavatars/9/6/avatar2041469_1.gif?u=2041469&dateline=1312943518");
    margin-right: 15px;
}

.username {
    float: right;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    margin-right: 15px;
}

.usernameIndex {
    float: right;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding-top: 70px;
    margin-right: 15px;
}

.back {
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    margin-left: 15px;
}

.backIndex {
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding-top: 70px;
    margin-left: 15px;
}

.header {
    display: block;
    height: 65px;
    position: fixed;
    width: 100%;
    background: linear-gradient(to bottom, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%); 
    z-index: 4;
}

.logo {
    margin: 0px auto;
    height: 45px;
    width: 100px;
    background-size: 100px 45px;
    margin-top: 14px;
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px 2px #5E626B;
}

.centerContainer {
    display: block;
    margin: 0px auto;
    width: calc(80% - 80px);
    max-width: 1000px;
    background-color: #dedfe0;
    box-shadow: 0px 0px 4px gray;
    height: 100%;
}

.sportButton {
    display: block;
    height: 300px;
    margin: 0px auto;
    padding-left: 10px;
    font-size: 35px;
    font-family: Helvetica;
    color: white;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    border-bottom: 10px solid gray;
}

.sportsText {
    margin-top: 250px;
    margin-right: 15px;
    float: right;
    text-shadow: 2px 2px 2px #5E626B;
}

.myStadiums {
    padding-top: 50px;
    background-size: cover;
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/0/01/Fenway_from_Legend's_Box.jpg");
    cursor: pointer;
}

.baseball {
    background-size: cover;
    background-image: url("http://www.cookandsonbats.com/panoramas/turner/turner-101.jpg");
    cursor: pointer;
    padding-top: 5px;
}

.football {
    background-size: cover;
    background-image: url("http://www.nflwallpaperhd.com/wp-content/uploads/2013/10/Atlanta-Falcons-Stadium-.jpg");
    cursor: pointer;    
    padding-top: 5px;
    border-bottom: none;
}

.basketball {
    background-size: cover;
    background-image: url("http://thesportsfather.files.wordpress.com/2012/05/img_0792.jpg");
    cursor: pointer;     
    padding-top: 5px;
}

/////////////////

.sportHeader {
    display: block;
    margin: 0px auto;
    background-color: black;
    padding-left: 10px;
    padding-top: 105px;
    font-size: 35px;
    font-family: Helvetica;
    color: white;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    border-bottom: 10px solid gray;
    text-align: center;
}

.divisionHeader {
    display: block;
    height: 40px;
    margin: 0px auto;
    background-color: lightgray;
    padding-left: 10px;
    font-size: 35px;
    font-family: Helvetica;
    color: black;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    border-bottom: 10px solid gray;
    text-align: center;
}

.sportsDivision {
    display: block;
    height: 100px;
    margin: 0px auto;
    background-color: lightgray;
    font-size: 50px;
    line-height: 100px;
    padding-left: 10px;
    font-family: Helvetica;
    color: black;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    border-bottom: 10px solid gray;
    text-align: center;
}

.myStadiumHome {
    padding-top: 140px;
}

.teamImage {
    display: block;
    height: 300px;
    margin: 0px auto;
    padding-left: 10px;
    font-size: 35px;
    font-family: Helvetica;
    color: white;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    border-bottom: 10px solid gray;
}

.teamPage {
    height: 200px;
}

.teamCity {
    display: block;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 40px;
    text-shadow: 2px 2px 2px #5E626B;
}

.teamName {
    display: block;
    font-size: 60px;
    margin-left: 4px;
    text-shadow: 2px 2px 2px #5E626B;
}

.logoTeamPage {
    margin-top: 0px;
    height: 70px;
    width: 70px;
}
///


///
///Baseball
///A

.driveLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: 100px 100px;
    background-image: url("http://www.99sportslogos.com/wp-content/uploads/2013/02/Greenville-Drive-Logo.gif");
}

.Drive {
    padding-top: 5px;
    background-size: cover;
    background-image: url("http://266002866.r.lightningbase-cdn.com/wp-content/uploads/2013/05/Greenville-Drive-graphic.jpg");
    cursor: pointer;
}


///
///Fotball
///NFL
.falconsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;  
    background-size: 100px 100px;
    background-image: url("http://img2.wikia.nocookie.net/__cb20111227211854/madden/images/8/82/Atlanta_Falcons_Logo.png");
}

.falcons {
    padding-top: 5px;
    background-size: cover;
    background-image: url("http://www.nflwallpaperhd.com/wp-content/uploads/2013/10/Atlanta-Falcons-Stadium-.jpg");
    cursor: pointer;
}

.packersLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: 100px 100px;
    background-image: url("http://nitrografixx.com/nfllogos/full/Green_Bay_Packers_Logo.png");
}

.packers {
    padding-top: 5px;
    background-size: cover;
    background-image: url("http://www.danleysoundlabs.com/danley/wp-content/uploads/2012/06/Lambeau_Crowd1-e1364919790413.jpg");
    cursor: pointer;
}

.buccaneersLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/teamlogos/nfl/500/tam.png?w=250&h=250&transparent=true");
}

.buccaneers {
    padding-top: 5px;
    background-size: cover;
    background-image: url("http://static.panoramio.com/photos/large/5563552.jpg");
    cursor: pointer;
}

.nyGiantsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: 100px 100px;
    background-image: url("http://www3.cgps.org/studentssite/grammar/subpages/NewYorkGiants_1000.png");
}

.nyGiants {
    padding-top: 5px;
    background-size: cover;
    background-image: url("http://mkalty.org/wp-content/uploads/2014/02/Metlife-Stadium.jpg");
    cursor: pointer;
}
///
///Basketball
///NBA
.heatLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("http://www.thefloridavillager.com/wp-content/uploads/2013/06/Miami_Heat_logo.svg_.png");
}

.heat {
    padding-top: 5px;
    background-size: cover;
    background-image: url("http://3.bp.blogspot.com/-82-Vq2BWFFQ/T-S91yLWaBI/AAAAAAAAGp8/lv1gSC-8OHo/s1600/P1360519.jpg");
    cursor: pointer;
}

///
///
///


.stadiumName {
    display: inline-block;
    font-size: 40px;
    text-shadow: 2px 2px 2px #5E626B;
    max-width: 250px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.wantToGoButton {
    float: right;
    height: 40px;
    line-height: 40px;
    width: 150px;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 250px;
    background: linear-gradient(to bottom, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%);     
    text-align: center;
    font-size: 20px;
    font-family: Helvetica;
    text-shadow: 0px -1px 0px black;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}



.beenThereButton {
    float: right;
    margin-top: 0px;
    margin-right: 20px;
    height: 40px;
    line-height: 40px;
    margin-top: 250px;
    width: 150px;
    background: linear-gradient(to bottom, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%);     
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Helvetica;
    text-shadow: 0px -1px 0px black;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border-radius: 3px;
}

.teamPageButton {
    margin-top: 150px;
}


.teamInfo {
    display: block;
    height: 100px;
    margin: 0px auto;
    background-color: lightgray;
    line-height: 100px;
    padding-left: 10px;
    font-size: 35px;
    font-family: Helvetica;
    color: black;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    border-bottom: 10px solid gray;
    text-align: center;
}

.myStadiumsButton {
    height: 125px;
    padding-top: 100px;
    line-height: 150px;
}

.teamInfoBlock {
    display: inline-block;
    width: calc(50% - 10px);
    height: 500px;
    padding-top: 10px;
    padding-left: 10px;
}

.mapBlock {
    display: inline-block;
    width: calc(50% - 10px);
    height: 500px;
    padding-top: 10px;
    padding-right: 5px;
}

.stadiumImageSlider {
    margin: 0px auto;
    max-height: 150px;
    height: 150px;
}

.stadiumAddress {
    font-family: Helvetica;
    font-size: 20px;
    margin-bottom: 20px;
}

.stadiumPhone {
    font-family: Helvetica;
    font-size: 20px;
    margin-bottom: 20px;
}

.stadiumURL {
    font-family: Helvetica;
    font-size: 20px;
    margin-bottom: 20px;
}

.middleContainer {
    display: block;
    border-bottom: 10px solid gray;
}

#map-canvas {
    margin: 0px auto;
    height: 70%;
    width: 95%;
}

.footer {
    display: block;
    height: 65px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%); 
}

.footerText {
    display: block;
    text-align: center;
    padding-top: 20px;
    color: white;
}

.stadiumMap {
    height: 30px;
    margin-bottom: 22px;
    font-size: 20px;
    font-family: Helvetica;
    margin-left: 10px;
}

@media screen and (max-width: 380px) {

    .driveLogo {
        background-size: 70px 70px;
    }

    .packersLogo {
        background-size: 70px 70px;

    }

    .nyGiantsLogo {    
        background-size: 69px 70px;
    }

    .falconsLogo {  
        background-size: 70px 70px;
    }

    .mapBlock {
        display: inline-block;
        width: 360px;
        height: 350px;
        padding-top: 10px;
        padding-right: 5px;
        margin-left: 0px;
    }

    .stadiumMap {
        height: 30px;
        margin-bottom: 0px;
        font-size: 20px;
        font-family: Helvetica;
        margin-left: 23px;
    }

    .stadiumImageSlider {
        max-width: 335px;
        margin-left: 0px;
    }

    .teamInfoBlock {
        float: none;
        width: 100%;
        padding-top: 20px;
        height: 430px;
        max-height: 430px;
    }

    .logoTeamPage {
        margin-top: 50px;
        height: 50px;
        width: 50px;
    }




    .userBarIndex {
        width: 100%;
    }

    .sportsText {
        margin-top: 250px;
        margin-right: 10px;
        float: right;
        text-shadow: 2px 2px 2px #5E626B;
    }

    .centerContainer {
        width: 365px;
    }

    .teamCity {
        display: block;
        margin-top: 3px;
        margin-left: 5px;
        font-size: 20px;
        max-width: 180px;
    }

    .teamName {
        display: block;
        font-size: 20px;
        margin-left: 4px;
        margin-bottom: 20px;
    }

    .stadiumName {
        display: inline-block;
        font-size: 20px;
        max-width: 120px;
    }

    .wantToGoButton {
        float: right;
        height: 50px;
        line-height: 25px;
        width: 60px;
        border-radius: 3px;
        margin-right: 10px;
        margin-top: 140px;
        text-align: center;
        font-size: 20px;
        
    }

    .beenThereButton {
        float: right;
        margin-right: 20px;
        height: 50px;
        line-height: 25px;
        margin-top: 140px;
        width: 60px;
        color: white;
        text-align: center;
        font-size: 20px;
        
    }

    .teamMap {        
        float: none;
        width: 300px;
        height: 300px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom: none;
    }

    #map-canvas {
        margin: 0px auto;
        height: 300px;
        width: 300px;
    }

    .teamsMobileButtons {
        margin-top: 240px;
    }

}