// bower:scss
// endbower

///Baseball
///MLB

.diamondbacksLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/diamondbackslogo.png");
    cursor: pointer;
}

.diamondbacks {
    background-size: cover;
    background-image: url("../images/Stadiums/ChaseField.jpg");
    padding-top: 5px;
}

.bravesLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/braveslogo.png");
    cursor: pointer;
}

.braves {
    background-size: cover;
    background-image: url("../images/Stadiums/TurnerField.jpg");
    padding-top: 5px;
}

.oriolesLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/orioleslogo.png");
    cursor: pointer;
}

.orioles {
    background-size: cover;
    background-image: url("../images/Stadiums/ChaseField.jpg");
    padding-top: 5px;
}

.redSoxLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/redsoxlogo.png");
    cursor: pointer;
}

.redSox {
    padding-top: 5px;
    background-size: cover;
    background-image: url("../images/Stadiums/FenwayPark.jpg");
}

.cubsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/cubslogo.png");
    cursor: pointer;
}

.cubs {
    background-size: cover;
    background-image: url("../images/Stadiums/WrigleyField.jpg");
    padding-top: 5px;
}

.whitesoxLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: 100px 100px;
    background-image: url("../images/logos/whitesoxlogo.png");
    cursor: pointer;
}

.whitesox {
    background-size: cover;
    background-image: url("../images/Stadiums/USCellularField.jpg");
    padding-top: 5px;
}

.redsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/redslogo.png");
    cursor: pointer;
}

.reds {
    background-size: cover;
    background-image: url("../images/Stadiums/GreatAmericanBallPark.jpg");
    padding-top: 5px;
}

.indiansLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/indianslogo.png");
    cursor: pointer;
}

.indians {
    background-size: cover;
    background-image: url("../images/Stadiums/ProgressiveField.jpg");
    padding-top: 5px;
}

.rockiesLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: 100px 100px;
    background-image: url("../images/logos/rockieslogo.png");
    cursor: pointer;
}

.rockies {
    background-size: cover;
    background-image: url("../images/Stadiums/CoorsField.jpg");
    padding-top: 5px;
}

.tigersLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/tigerslogo.png");
    cursor: pointer;
}

.tigers {
    background-size: cover;
    background-image: url("../images/Stadiums/ComericaPark.jpg");
    padding-top: 5px;
}

.astrosLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: 100px 100px;
    background-image: url("../images/logos/astroslogo.png");
    cursor: pointer;
}

.astros {
    background-size: cover;
    background-image: url("../images/Stadiums/MinuteMaidPark.jpg");
    padding-top: 5px;
}

.royalsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/royalslogo.png");
    cursor: pointer;
}

.royals {
    background-size: cover;
    background-image: url("../images/Stadiums/KauffmanStadium.jpg");
    padding-top: 5px;
}

.angelsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: 100px 100px;
    background-image: url("../images/logos/angelslogo.png");
    cursor: pointer;
}

.angels {
    background-size: cover;
    background-image: url("../images/Stadiums/AngelStadium.jpg");
    padding-top: 5px;
}

.dodgersLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: 100px 100px;
    background-image: url("../images/logos/dodgerslogo.png");
    cursor: pointer;
}

.dodgers {
    background-size: cover;
    background-image: url("../images/Stadiums/DodgerStadium.jpg");
    padding-top: 5px;
}

.marlinsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/marlinslogo.png");
    cursor: pointer;
}

.marlins {
    background-size: cover;
    background-image: url("../images/Stadiums/MarlinsPark.jpg");
    padding-top: 5px;
}

.brewersLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/brewerslogo.png");
    cursor: pointer;
}

.brewers {
    background-size: cover;
    background-image: url("../images/Stadiums/MillerPark.jpg");
    padding-top: 5px;
}

.twinsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/twinslogo.png");
    cursor: pointer;
}

.twins {
    background-size: cover;
    background-image: url("../images/Stadiums/TargetField.jpg");
    padding-top: 5px;
}

.metsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/metslogo.png");
    cursor: pointer;
}

.mets {
    background-size: cover;
    background-image: url("../images/Stadiums/CitiField.jpg");
    padding-top: 5px;
}

.yankeesLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: 100px 100px;
    background-image: url("../images/logos/yankeeslogo.png");
    cursor: pointer;
}

.yankees {
    background-size: cover;
    background-image: url("../images/Stadiums/YankeeStadium.jpg");
    padding-top: 5px;

}

.athleticsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/athleticslogo.png");
    cursor: pointer;
}

.athletics {
    background-size: cover;
    background-image: url("../images/Stadiums/OcoColiseum.jpg");
    padding-top: 5px;
}

.philliesLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: 100px 100px;
    background-image: url("../images/logos/phillieslogo.png");
    cursor: pointer;
}

.phillies {
    background-size: cover;
    background-image: url("../images/Stadiums/CitizensBankPark.jpg");
    padding-top: 5px;
}

.piratesLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: 100px 100px;
    background-image: url("../images/logos/pirateslogo.png");
    cursor: pointer;
}

.pirates {
    background-size: cover;
    background-image: url("../images/Stadiums/PNCPark.jpg");
    padding-top: 5px;
}

.padresLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/padreslogo.png");
    cursor: pointer;
}

.padres {
    background-size: cover;
    background-image: url("../images/Stadiums/PetcoPark.jpg");
    padding-top: 5px;
}

.marinersLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/marinerslogo.png");
    cursor: pointer;
}

.mariners {
    background-size: cover;
    background-image: url("../images/Stadiums/SafecoField.jpg");
    padding-top: 5px;
}

.giantsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/sfgiantslogo.png");
    cursor: pointer;
}

.giants {
    background-size: cover;
    background-image: url("../images/Stadiums/AT&TPark.jpg");
    padding-top: 5px;
}

.cardinalsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/cardinalslogo.png");
    cursor: pointer;
}

.cardinals {
    background-size: cover;
    background-image: url("../images/Stadiums/BuschStadium.jpg");
    padding-top: 5px;
}

.raysLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/rayslogo.png");
    cursor: pointer;
}

.rays {
    background-size: cover;
    background-image: url("../images/Stadiums/TropicanaField.jpg");
    padding-top: 5px;
}

.rangersLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/rangerslogo.png");
    cursor: pointer;
}

.rangers {
    background-size: cover;
    background-image: url("../images/Stadiums/GlobeLifeParkinArlington.jpg");
    padding-top: 5px;
}

.bluejaysLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/bluejayslogo.png");
    cursor: pointer;
}

.bluejays {
    background-size: cover;
    background-image: url("../images/Stadiums/RogersCentre.jpg");
    padding-top: 5px;
}

.nationalsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/nationalslogo.png");
    cursor: pointer;
}

.nationals {
    background-size: cover;
    background-image: url("../images/Stadiums/NationalsPark.jpg");
    padding-top: 5px;
}

@media screen and (max-width: 380px) {
    .logoMobile {
        margin-top: 90px;
        height: 70px;
        width: 70px;
        background-size: 70px 70px;
    }

    .whitesoxLogo {
        background-size: 70px 70px;
    }

    .rockiesLogo {
        background-size: 70px 70px;
    }

    .tigersLogo {
        background-size: 70px 70px;
    }

    .astrosLogo {
        background-size: 70px 70px;
    }

    .royalsLogo {
        background-size: 70px 70px;
    }

    .angelsLogo {
        background-size: 70px 70px;
    }

    .dodgersLogo {
        background-size: 70px 70px;
    }

    .yankeesLogo {
        background-size: 70px 70px;
    }

    .philliesLogo {
        background-size: 70px 70px;
    }

    .piratesLogo {
        background-size: 70px 70px;
    }

    .removeMobile {
        line-height: 50px; 
        font-size: 15px; 
        height: 50px; 
        width: 70px; 
    }
}
