// bower:scss
// endbower

///Basketball
///NBA

.heatLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/heatlogo.png");
    cursor: pointer;

}

.heat {
    padding-top: 5px;
    background-size: cover;
    background-image: url("../images/Stadiums/AmericanAirlinesArena.jpg");
}

@media screen and (max-width: 380px) {
    .logoMobile {
        margin-top: 90px;
        height: 70px;
        width: 70px;
    }

    .stadiumName {
        display: inline-block;
        font-size: 20px;
        max-width: 120px;
    }

}