// bower:scss
// endbower

///Football
///NFL

.falconsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;  
    background-size: 100px 100px;
    background-image: url("../images/logos/falconslogo.png");
    cursor: pointer;
}

.falcons {
    padding-top: 5px;
    background-size: cover;
    background-image: url("../images/Stadiums/GeorgiaDome.jpg");
}

.packersLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: 100px 100px;
    background-image: url("../images/logos/packerslogo.png");
    cursor: pointer;

}

.packers {
    padding-top: 5px;
    background-size: cover;
    background-image: url("../images/Stadiums/LambeauField.jpg");
}

.buccaneersLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: cover;
    background-image: url("../images/logos/buccaneerslogo.png");
    cursor: pointer;
}

.buccaneers {
    padding-top: 5px;
    background-size: cover;
    background-image: url("../images/Stadiums/RaymondJamesStadium.jpg");
}

.nyGiantsLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 0px;
    background-size: 100px 100px;
    background-image: url("../images/logos/nygiantslogo.png");
    cursor: pointer;
}

.nyGiants {
    padding-top: 5px;
    background-size: cover;
    background-image: url("../images/Stadiums/MetlifeStadium.jpg");
}


@media screen and (max-width: 380px) {
    
    }